.text-white-hover:hover {
    color: green !important;
  }
  .text-green-hover:hover {
    color: green !important;
  }
  .uppercase-text {
    text-transform: uppercase;
}
.texto-negro {
    color: black;
}
@media (max-width: 1024px) {
    .text-1024 {
        font-size: 35px;
    }
}